/* * Variables css */
:root {
    --morado-oscuro: #4A154B;
    --morado-claro: #A94AB4;
    --blanco: #fff;
    --negro: #000;

    --fuente-titulo: 'Lilita One', cursive;
}


/* * Globales */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    /* * 1 rem == 10px*/
    background: var(--morado-oscuro);
}

p {
    text-align: center;
}

svg {
    display: block;
    display: flex;
    margin-left: 4rem;
    margin-top: 0.8rem;
}

/* *Contenedor */
.contenedor {
    display: flex;
    justify-content: center;
}

/* * Titulo */
.titulo {
    font-family: var(--fuente-titulo);
    text-align: center;
    font-size: 6rem;
    color: var(--blanco);
    -webkit-text-stroke: 2px var(--negro);
}

/* *Pagina */
.pagina {
    display: none;
}

/* * Imagén cine */
.imagen-cine {
    display: block;
    margin: 0 auto;
}

/* * Flechas */
.flecha,
.Pagina-Actual {
    color: var(--blanco);
}

/* * Contenedor Preguntas */
.contenedor-pregunta {
    position: relative;
    height: 18rem;
    width: 75rem;
    background-color: var(--blanco);
    border: solid var(--morado-claro) 5px;
}

.adorno {
    width: 200px;
    height: 100px;
    background-color: var(--morado-claro);
    clip-path: polygon(0 0, 76% 0, 75% 70%, 0% 90%);
    position: absolute;
    left: -2.5%;
    top: -8%;
}

.pregunta {
    font-size: 3rem;
    text-align: center;
    padding-top: 3rem;
    font-family: var(--fuente-titulo);
}

.pregunta-completar {
    font-size: 2rem;
    margin: 0;
    text-align: left;
    padding: 1rem;
}

.contenedor-pregunta-completar {
    height: 25rem;
    width: 75rem;
    background-color: var(--blanco);
    border: solid var(--morado-claro) 3px;
    border-radius: 10px;
}

/* *Respuestas */
.respuestas {
    position: relative;
    margin-top: 3rem;
    display: grid;
    height: 18rem;
    width: 75rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
    user-select: none;
}

.respuesta {
    position: relative;
    text-align: center;
    padding-top: 13px;
    max-width: 100%;
    height: 4.5rem;
    background-color: var(--blanco);
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.seleccionador {
    position: absolute;
    display: flex;
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--morado-claro);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    left: 5px;
    bottom: 5px;
    color: white;
    font-weight: bold;
}

.sel {
    height: 3rem;
    width: 3rem;
    accent-color: var(--morado-claro);
    cursor: pointer;
}

.respuesta:hover {
    border: 1px solid #3c0c3d;
    background-color: #b25fbb;
}

.active {
    border: 2px solid #3c0c3d;
    background-color: #b25fbb;
}

.contenedor-superior {
    border: 2px solid var(--morado-claro);
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--blanco);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 1rem;
}

.contenedor-inferior {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
}

.elemento {
    border: 1px solid var(--morado-claro);
    padding: 10px;
    background-color: var(--blanco);
    border-radius: 10px;
    margin: 4px;
}

.hueco {
    border: 1px dashed var(--morado-oscuro);
    display: inline-block;
    min-width: 200px;
    min-height: 40px;
    margin-top: 1rem;
}

.elemento-desactivado {
    opacity: 0.5;
    pointer-events: none;
}

/* * Botones */
.botones {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

.anterior,
.siguiente {
    border-radius: 8px;
    font-size: 1.5rem;
    border: none;
    padding: 1rem;
}

/* *Contenedor completar */
.contenido{
    width: 5rem;
    width: 5rem;
    border: dashed var(--negro) 2px;
}

span{
    height: 5rem;
    width: 8rem;
}